.navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #0057b8;
  color: #ffd700;
  width: 100%;
  font-family: "Roboto", sans-serif;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  box-shadow: 5px 5px 5px #3d3d3c;
  position: relative;
}

.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #0057b8;
  color: #ffd700;
  width: auto;
  z-index: 1000;
  padding: 20px;
}

.nav-container.active {
  display: flex;
}

.nav-list {
  list-style: none;
  padding: 0;
  display: flex;
}

.link {
  margin: 0 20px;
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  transition: color 0.3s ease;
  outline: none;
}

.link:focus {
  box-shadow: 0 0 0 2px #007bff;
}

.link:hover,
.link:active {
  color: #fff;
  cursor: pointer;
  text-decoration: underline;
}

.title {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Tilt Prism", cursive;
  margin-left: 1rem;
}

.hamburger-button {
  display: none;
}

@media (max-width: 768px) {
  .nav-container {
    display: none;
  }

  .hamburger-button {
    margin-right: 1rem;
    display: block;
  }

  .nav-container.active {
    display: flex;
    width: 100%;
    position: absolute;
    top: 100%;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
    padding: 0;
  }

  .title {
    margin-left: 1rem;
  }
}
